{
  "assumptions": {
    "iterableIsArray": true
  },
  "presets": [
    ["@babel/preset-env", {
      "exclude": [
        "@babel/plugin-transform-typeof-symbol"
      ],
      "targets": "defaults",
      "modules": "commonjs"
    }],
    "@babel/preset-flow"
  ]
}
