{
  "assumptions": {
    "iterableIsArray": true
  },
  "presets": [
    ["@babel/preset-env", {
      "exclude": [
        "@babel/plugin-transform-typeof-symbol"
      ],
      "targets": {
        "browsers": "> 0%",
        "esmodules": false,
        "ie": "11"
      },
      "modules": "commonjs"
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "babel-plugin-syntax-hermes-parser"
  ]
}
